
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model List<NoteMarketPlace.Models.AdminModel.DashboardModel>

<!-- Dashboard -->

<div id="dashboard">

    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Dashboard</h4>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="dashboard-statics">
                    <h4 style="cursor:pointer" onclick="return location.href='NotesUnderReview'">@ViewBag.InReview</h4>
                    <h6>Number of Notes in Review for Publish</h6>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dashboard-statics">
                    <h4 style="cursor:pointer" onclick="return location.href='DownloadedNotes'">@ViewBag.Downloads</h4>
                    <h6>Number of New Notes Downloaded <br>(Last 7 Days) </h6>
                </div>
            </div>

            <div class="col-md-4">
                <div class="dashboard-statics">
                    <h4 style="cursor:pointer" onclick="return location.href='Members'">@ViewBag.Registration</h4>
                    <h6>Number of New Registration <br>(Last 7 Days)</h6>
                </div>
            </div>

        </div>



        <div class="table-heading">
            <div class="row">
                <div class="col-md-6 col-sm-4 col-xs-12">
                    <div class="contact-text-02">
                        <h4>Published Notes</h4>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-8">
                            <div class="search">
                                <img src="~/img/icons/search-icon.png">
                                <input type="search" placeholder="search" class="form-control" id="dashboard-search-input">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-4">
                            <button class="btn btn-search" id="dashboard-search-click">SEARCH</button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @Html.DropDownList("Month" , new SelectList(ViewBag.MonthList,"digit","Month"), new {@onchange="MonthFilter(this)" })
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-responsive dashboard-table">

            <table class="table" id="dashboard-table">

                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">ATTACHMENT SIZE</th>
                        <th scope="col">SELL TYPE</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">PUBLISHER</th>
                        <th scope="col">PUBLISHED DATE</th>
                        <th scope="col">NUMBER OF DOWNLOADS</th>
                        <th class="nosort"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="10" style="text-align:center;">No Data Available</td>
                            </tr>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var data in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td onclick="NoteDetail(@data.Id)">@data.Title</td>
                                    <td>@data.Category</td>
                                    <td>@data.AttachmentSize KB</td>
                                    <td>@(data.Price == 0 ? "Free" : "Paid" )</td>
                                    <td>$@data.Price</td>
                                    <td>@data.Publisher</td>
                                    <td>@data.PublishDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                    <td>@data.TotalDownloads</td>
                                    <td>
                                        <div class="table-actions-view">
                                            <div class="dropdown">
                                                <img id="more-dropeddown" src="~/img/icons/dots.png" alt="more"
                                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="dropdown-menu more-dropdown-menu" aria-labelledby="more-dropeddown">
                                                    <a class="dropdown-item" href="/Admin/DownloadFile?noteid=@data.Id">Download Notes</a>
                                                    <a class="dropdown-item" onclick="NoteDetail(@data.Id)">View More Details</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#rejectModal" onclick="setNoteId('@data.Id', '@data.Title')">Unpublish</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    }

                </tbody>
            </table>
        </div>

    </div>

</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/img/icons/close.png" alt="close" class="close" data-dismiss="modal">
                </div>
                <div class="modal-body">

                    <div class="reject-popup">

                        <h4>Note Title</h4>

                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            @Html.Hidden("noteid")

                            <label>Remarks*</label>
                            @*<textarea placeholder="Write remarks"></textarea>*@
                            @Html.TextArea("Remarks", new { @placeholder = "Write remarks", required = "required" })

                            <button class="btn btn-cancel pull-right" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-reject pull-right" formaction="Unpublishnote">Unpublish</button>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Dashboard Ends -->

<script src="~/Scripts/jquery.min.js"></script>
<script>

    function MonthFilter(obj) {
        location.href = "Dashboard?month=" + obj.value;
    }

    function NoteDetail(id) {
        location.href = '../Note_Details/' + id;
    }

    function setNoteId(id,title) {
        $("#rejectModal input[type='hidden']").attr('value', id);
        $('.reject-popup>h4').text(title);
    }

    $('#rejectModal form').on('submit', function () {
        return confirm('Are you sure you want to Unpublish this note?');
    });

</script>