
@{
    ViewBag.Title = "ManageCountry";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model List<NoteMarketPlace.Models.AdminModel.ManageCountry>


<div id="manage-country">
    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Manage Country</h4>
        </div>

        <div class="table-heading">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <button class="btn btn-add" onclick="location.href='AddCountry'">ADD COUNTRY</button>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-8 col-xs-8">
                            <div class="search">
                                <img src="~/img/icons/search-icon.png">
                                <input type="search" placeholder="search" class="form-control" id="managecountry-search-input">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-4">
                            <button class="btn btn-search" id="managecountry-search-click">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive dashboard-table">

            <table class="table" id="managecountry-table">

                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">COUNTRY NAME</th>
                        <th scope="col">COUNTRY CODE</th>
                        <th scope="col">DATE ADDED</th>
                        <th scope="col">ADDED BY</th>
                        <th scope="col">ACTIVE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="7" style="text-align:center;">No record found</td>
                            </tr>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var data in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td>@data.CountryName</td>
                                    <td>@data.CountryCode</td>
                                    <td>@data.AddedDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                    <td>@data.AddedBy</td>
                                    <td>@data.Active</td>
                                    <td>
                                        <div class="table-actions-edit">
                                            <img src="~/img/icons/edit.png" alt="edit" onclick="Edit(@data.Id)">
                                            <img src="~/img/icons/delete.png" alt="delete" onclick="Delete(@data.Id)">
                                        </div>
                                    </td>
                                </tr>

                            }

                        }

                    }

                </tbody>
            </table>
        </div>


    </div>
</div>

<script>

    function Edit(id) {
        location.href = "AddCountry?edit=" + id;
    }

    function Delete(id) {
        //location.href = "DeleteSystemConfigItem?id=" + id + "&item=Country";
        $.ajax({
            method: 'POST',
            url: 'DeleteSystemConfigItem',
            data: { id: id, item: 'Country' },
            success: function () {
                location.reload();
            },
            error: function () {
                alert("Try Again");
            }
        });
    }


</script>