
@{
    ViewBag.Title = "MemberDetails";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model List<NoteMarketPlace.Models.AdminModel.MemberNoteModel>



<!-- Member Details -->
<div id="member-details">

    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Member Details</h4>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <img src="@ViewBag.Details.ProfileImage" alt="Profile Photo" class="member-img img-fluid">
                    </div>
                    <div class="col-md-9 col-sm-8">
                        <div class="member-details-left">
                            <span>
                                <h6>First Name:</h6>
                                <h6>@ViewBag.Details.FirstName</h6>
                            </span>
                        </div>
                        <div class="member-details-left">
                            <span>
                                <h6>Last Name:</h6>
                                <h6>@ViewBag.Details.LastName</h6>
                            </span>
                        </div>
                        <div class="member-details-left">
                            <span>
                                <h6>Email:</h6>
                                <h6>@ViewBag.Details.Email</h6>
                            </span>
                        </div>
                        <div class="member-details-left">
                            <span>
                                <h6>DOB:</h6>
                                <h6>@(ViewBag.Details.DOB ?? "N/A")</h6>
                            </span>
                        </div>
                        <div class="member-details-left">
                            <span>
                                <h6>Phone Number:</h6>
                                <h6>@(ViewBag.Details.Phone ?? "N/A")</h6>
                            </span>
                        </div>
                        <div class="member-details-left">
                            <span>
                                <h6>College/University:</h6>
                                <h6>@ViewBag.Details.Collage_University</h6>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12">

                <div class="member-details-right">
                    <span>
                        <h6>Addtess 1:</h6>
                        <h6>@ViewBag.Details.Address1</h6>
                    </span>
                </div>
                <div class="member-details-right">
                    <span>
                        <h6>Address 2:</h6>
                        <h6>@ViewBag.Details.Address2</h6>
                    </span>
                </div>
                <div class="member-details-right">
                    <span>
                        <h6>City:</h6>
                        <h6>@ViewBag.Details.City</h6>
                    </span>
                </div>
                <div class="member-details-right">
                    <span>
                        <h6>State:</h6>
                        <h6>@ViewBag.Details.State</h6>
                    </span>
                </div>
                <div class="member-details-right">
                    <span>
                        <h6>Country:</h6>
                        <h6>@ViewBag.Details.Country</h6>
                    </span>
                </div>
                <div class="member-details-right">
                    <span>
                        <h6>ZipCode:</h6>
                        <h6>@ViewBag.Details.Zipcode</h6>
                    </span>
                </div>

            </div>

        </div>


        <div class="table-heading">
            <div class="contact-text-02">
                <h4>Notes</h4>
            </div>
        </div>


        <div class="table-responsive dashboard-table">

            <table class="table" id="memberdetails-table">

                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">NOTE TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">DOWNLOADED NOTES</th>
                        <th scope="col">TOTAL EARNING</th>
                        <th scope="col">DATE ADDED</th>
                        <th scope="col">PUBLISHED DATE</th>
                        <th class="nosort"></th>
                    </tr>
                </thead>
                <tbody>

                    @{

                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="9" style="text-align:center;">No Record Found</td>
                            </tr>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var data in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td style="cursor:pointer;" onclick="NoteDetail('@data.NoteId')" >@data.Title</td>
                                    <td>@data.Category</td>
                                    <td>@data.Status</td>
                                    <td style="cursor:pointer;" onclick="Downloaded('@data.NoteId')" >@data.DownloadedNote</td>
                                    <td>$@(data.Earning ?? 0)</td>
                                    <td>@data.DateAdded.ToString("dd-MM-yyyy, HH:mm")</td>
                                    <td>@(data.PublishedDate == null ? "N/A" : data.PublishedDate.GetValueOrDefault().ToString("dd-MM-yyyy, HH:mm"))</td>
                                    <td>
                                        <div class="table-actions-view">
                                            <div class="dropdown">
                                                <img id="more-dropeddown" src="~/img/icons/dots.png" alt="more"
                                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="dropdown-menu more-dropdown-menu" aria-labelledby="more-dropeddown">
                                                    <a class="dropdown-item" href="/Admin/DownloadFile?noteid=@data.NoteId">Download Notes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    }


                </tbody>
            </table>
        </div>

    </div>

</div>
<!-- Member Details Ends -->

<script>

    function Downloaded(id) {
        location.href = "DownloadedNotes?noteId=" + id;
    }

    function NoteDetail(id) {
        location.href = "../../Note_Details/" + id;
    }

</script>