
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model NoteMarketPlace.Models.AdminModel.MyProfile


<div id="my-profile">
    <div class="content-box-lg">

        <div class="contact-text">
            <h4>My Profile</h4>
        </div>

        @using (Html.BeginForm(FormMethod.Post))
        {

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <div class="contact-inputs">
                            <label>First Name <span>*</span> </label>
                            @*<input type="text" class="form-control" id="fullname" placeholder="Enter your first name">*@
                            @Html.TextBoxFor(model => model.First_Name, new { @class = "form-control", placeholder = "Enter your first name" })
                        </div>
                        @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="contact-inputs">
                            <label for="fullname">Last Name <span>*</span> </label>
                            @*<input type="text" class="form-control" id="fullname" placeholder="Enter your last name">*@
                            @Html.TextBoxFor(model => model.Last_Name, new { @class = "form-control", placeholder = "Enter your last name" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="contact-inputs">
                            <label for="fullname">Email <span>*</span> </label>
                            @*<input type="email" class="form-control" id="fullname" placeholder="Enter your email address">*@
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter your email address", @readonly="readonly"})
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="contact-inputs">
                            <label for="fullname">Secondary Email</label>
                            @*<input type="email" class="form-control" id="fullname" placeholder="Enter your email address">*@
                            @Html.TextBoxFor(model => model.SecondaryEmail, new { @class = "form-control", placeholder = "Enter your email address" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="contact-inputs">
                            <label for="subject">Phone Number</label>
                            <div class="row">
                                <div class="col-md-3 col-sm-4 col-xs-4">
                                    @Html.DropDownListFor(model => model.Phonecode, new SelectList(Model.PhoneCodeModel, "Country_Code", "Country_Code"), new { @class = "form-control" })
                                </div>
                                <div class="col-md-9 col-sm-8 col-xs-8">
                                    @*<input type="number" class="form-control" id="subject" placeholder="Enter your phone number">*@
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Enter your phone number" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="contact-inputs">
                            <label for="subject">Profile Picture</label>
                            <div class="input-upload">
                                @*<input type="file" class="form-control" id="image">*@
                                @Html.TextBoxFor(model => model.ProfileImage, new { @class = "form-control", type = "file", accept = "image/*" })
                                <div class="upload-img" id="upload_profile_img_click">
                                    <img src="~/img/icons/upload-file.png" alt="upload">
                                    <p>Upload a picture</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-submit-btn">
                        <button class="btn" type="submit">SUBMIT</button>
                    </div>

                </div>

            </div>


        }

    </div>
</div>

