
@{
    ViewBag.Title = "PublishedNotes";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model List<NoteMarketPlace.Models.AdminModel.PublishedNoteModel>

<div id="published-notes">
    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Published Notes</h4>
        </div>


        <h6 class="seller-tag">Seller</h6>

        <div class="table-heading">
            <div class="row">
                <div class="col-md-6 col-sm-4 col-xs-12">
                    <div class="seller-choose">
                        @Html.DropDownList("SellerId", new SelectList(ViewBag.SellerList, "SellerId", "SellerName"),"Select Seller", new {@onchange="Filter(this)" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-8">
                            <div class="search">
                                <img src="~/img/icons/search-icon.png">
                                <input type="search" placeholder="search" class="form-control" id="publishednotes-search-input">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-4">
                            <button class="btn btn-search" id="publishednotes-search-click">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive dashboard-table">

            <table class="table" id="publishednotes-table">

                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">NOTE TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">SELL TYPE</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">SELLER</th>
                        <th scope="col">PUBLISHED DATE</th>
                        <th scope="col">APPROVED BY</th>
                        <th scope="col">NUMBER OF DOWNLOADS</th>
                        <th class="nosort"></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="10" style="text-align:center;">No Record Available</td>
                            </tr>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var data in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td onclick="NoteDetail('@data.NoteId')">@data.Title</td>
                                    <td>@data.Category</td>
                                    <td>@(data.Price == 0 ? "Free" : "Paid" )</td>
                                    <td>$@data.Price</td>
                                    <td>
                                        @data.Seller
                                        <div class="table-actions-view">
                                            <img src="~/img/icons/eye.png" alt="view" onclick="Member('@data.SellerId')">
                                        </div>
                                    </td>
                                    <td>@data.PublishDate.ToString("dd-MM-yyyy, HH:mm")</td>
                                    <td>@data.ApprovedBy</td>
                                    <td style="cursor:pointer;" onclick="Downloads('@data.NoteId')">@data.TotalDownloads</td>
                                    <td>
                                        <div class="table-actions-view">
                                            <div class="dropdown">
                                                <img id="more-dropeddown" src="~/img/icons/dots.png" alt="more"
                                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="dropdown-menu more-dropdown-menu" aria-labelledby="more-dropeddown">
                                                    <a class="dropdown-item" href="/Admin/DownloadFile?noteid=@data.NoteId">Download Notes</a>
                                                    <a class="dropdown-item" onclick="NoteDetail('@data.NoteId')">View More Details</a>
                                                    <a class="dropdown-item" data-toggle="modal" data-target="#rejectModal" onclick="Unpunlish('@data.NoteId', '@data.Title')">Unpublish</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }

                    }
                    
                </tbody>
            </table>
        </div>

    </div>
</div>


<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="~/img/icons/close.png" alt="close" class="close" data-dismiss="modal">
                </div>
                <div class="modal-body">

                    <div class="reject-popup">

                        <h4></h4>

                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            @Html.Hidden("noteid")

                            <label>Remarks*</label>
                            @*<textarea placeholder="Write remarks"></textarea>*@
                            @Html.TextArea("Remarks", new { @placeholder = "Write remarks", required = "required" })

                            <button class="btn btn-cancel pull-right" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-reject pull-right" formaction="Unpublishnote">Unpublish</button>

                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script>

    function Filter(obj) {
        location.href = "PublishedNotes?sellerId=" + obj.value;
    }

    function NoteDetail(id) {
        location.href = "../Note_Details/" + id;
    }

    function Unpunlish(id, title) {
        $("#rejectModal input[type='hidden']").attr('value', id);
        $('.reject-popup>h4').text(title);
    }

    $('#rejectModal form').on('submit', function () {
        return confirm('Are you sure you want to Unpublish this note?');
    });

    function Member(id) {
        location.href = "MemberDetails?id=" + id;
    }

    function Downloads(id) {
        location.href = "DownloadedNotes?noteId=" + id;
    }

</script>