
@{
    ViewBag.Title = "RejectedNotes";
    Layout = "~/Views/Shared/_AdminNav.cshtml";
}

@model List<NoteMarketPlace.Models.AdminModel.RejectedNotesModel>



<div id="rejected-notes">
    <div class="content-box-lg">

        <div class="contact-text">
            <h4>Rejected Notes</h4>
        </div>


        <h6 class="seller-tag">Seller</h6>

        <div class="table-heading">
            <div class="row">
                <div class="col-md-6 col-sm-4 col-xs-12">
                    <div class="seller-choose">
                        @Html.DropDownList("SellerId", new SelectList(ViewBag.SellerList,"SellerId","SellerName"), "Select Seller", new {@onchange="Filter(obj)" })
                    </div>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-8">
                            <div class="search">
                                <img src="~/img/icons/search-icon.png">
                                <input type="search" placeholder="search" class="form-control" id="rejectednotes-search-input">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-4">
                            <button class="btn btn-search" id="rejectednotes-search-click">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive dashboard-table">

            <table class="table" id="rejectednotes-table">

                <thead>
                    <tr>
                        <th scope="col">SR NO.</th>
                        <th scope="col">NOTE TITLE</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">SELLER</th>
                        <th scope="col">DATE ADDED</th>
                        <th scope="col">REJECTED BY</th>
                        <th scope="col">REMARK</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model.Count == 0)
                        {
                            <tr>
                                <td colspan="9" style="text-align:center;">No Records found</td>
                            </tr>
                        }
                        else
                        {
                            int count = 0;
                            foreach (var data in Model)
                            {
                                count++;
                                <tr>
                                    <td scope="row">@count</td>
                                    <td onclick="NoteDetail('@data.NoteId')">@data.Title</td>
                                    <td>@data.Category</td>
                                    <td>
                                        @data.SellerName
                                        <div class="table-actions-view">
                                            <img src="~/img/icons/eye.png" alt="view" onclick="Member('@data.SellerId')">
                                        </div>
                                    </td>
                                    <td>@data.DateEdited.ToString("dd-MM-yyyy, HH:mm")</td>
                                    <td>@data.RejectedBy</td>
                                    <td>@data.Remarks</td>
                                    <td>
                                        <div class="table-actions-view">
                                            <div class="dropdown">
                                                <img id="more-dropeddown" src="~/img/icons/dots.png" alt="more"
                                                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div class="dropdown-menu more-dropdown-menu" aria-labelledby="more-dropeddown">
                                                    <a class="dropdown-item" onclick="Approve('@data.NoteId')">Approve</a>
                                                    <a class="dropdown-item" href="/Admin/DownloadFile?noteid=@data.NoteId">Download Notes</a>
                                                    <a class="dropdown-item" onclick="NoteDetail('@data.NoteId')">View More Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        }

                    }
                    
                </tbody>
            </table>
        </div>


    </div>
</div>

<script>

    function Filter(obj) {
        location.href = "RejectedNotes?sellerId=" + obj.value;
    }

    function Approve(id) {

        $.ajax({
            method: 'POST',
            url: 'NoteStatusUpdate',
            data: { noteid: id, status: 'Approve' },
            success: function () {
                location.reload();
            },
            error: function () {
                alert("Try Again");
            }
        });

    }

    function NoteDetail(id) {
        location.href = '../Note_Details/' + id + "?ReadOnly=true";
    }

    function Member(id) {
        location.href = 'MemberDetails?id=' + id;
    }

</script>