
@model NoteMarketPlace.Models.ChangePassword

@{
    var display = "none";
    if (TempData["Oldpwd"] != null)
    {
        display = "block";
    }

    var show = "none";
    if (TempData["OldpwdSame"] != null)
    {
        show = "block";
    }

}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>

    <!-- Fav icon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/Content/forgot-pwd.css">

</head>

<body>

    <div id="change-pwd">

        <div class="main-content">

            <div class="logo">
                <img src="~/img/top-logo.png" alt="Logo" class="img-fluid">
            </div>

            <div class="content">

                @using (Html.BeginForm(FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <h2>Change Password</h2>
                    <p>Enter your new password to change your password</p>

                    <div class="form-group">
                        <div class="elements">
                            <span>Old Password</span>
                            @*<input type="password" class="form-control" placeholder="Enter your old Password" id="old-password">*@
                            @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", type = "password", placeholder = "Enter your old Password", required = "required" })
                            <img src="~/img/icons/eye.png" class="toggle-password" toggle="#OldPassword">
                        </div>
                        @Html.ValidationMessageFor(model => model.OldPassword, "*Old Password is wrong", new { @class = "text-danger", style = "display: " + display })
                    </div>

                    <div class="form-group">
                        <div class="elements">
                            <span>New Password</span>
                            @*<input type="password" class="form-control" placeholder="Enter your new Password" id="new-password">*@
                            @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", type = "password", placeholder = "Enter your new Password", required = "required" })
                            <img src="~/img/icons/eye.png" class="toggle-password" toggle="#NewPassword">
                        </div>
                        @Html.ValidationMessageFor(model => model.NewPassword, "*New Password not match with Old Password", new { @class = "text-danger", style = "display: " + show })
                    </div>

                    <div class="form-group">
                        <div class="elements">
                            <span>Confirm Password</span>
                            @*<input type="password" class="form-control" placeholder="Enter your conform Password" id="conf-password">*@
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", type = "password", placeholder = "Enter your confirm Password", required = "required" })
                            <img src="~/img/icons/eye.png" class="toggle-password" toggle="#ConfirmPassword">
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "*Does not match with new Password", new { @class = "text-danger", id = "validation-msg-pass", style = "display: none;" })
                    </div>

                    <div id="submit-btn">
                        <button class="btn btn-submit" type="submit">SUBMIT</button>
                    </div>


                }

            </div>

        </div>

    </div>


    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/Scripts/scripts.js"></script>

    <script>

        $('#ConfirmPassword').keyup(function () {
            if ($(this).val() != $('#NewPassword').val()) {
                $('#validation-msg-pass').css('display', 'block');
                $('.btn-submit').prop('disabled', true);
            } else {
                $('#validation-msg-pass').css('display', 'none');
                $('.btn-submit').prop('disabled', false);
            }
        });

    </script>

</body>

</html>