
@model NoteMarketPlace.Models.LoginModel


@{ 
    string func()
    {
        if (TempData["WrongPass"].Equals("wrong_password"))
            return "block";
        else
            return "none";
    }

    string func1()
    {
        if (TempData["WrongPass"].Equals("wrong_password"))
            return "wrong_password";
        else
            return "";
    }

}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Fav icon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="~/Content/login.css">


</head>

<body>

    <div id="login">

        <div class="main-content">

            <div class="logo">
                <img src="~/img/top-logo.png" alt="Logo" class="img-fluid">
            </div>

            <div class="content">

                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <h2>Login</h2>
                    <p>Enter your Email Address & Password to Login</p>

                    <div class="form-group">
                        <div class="elements">
                            <span>Email</span>
                            <!--<input type="email" class="form-control" placeholder="Enter your Email" id="email" name="Email" required>-->
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter your Email", type = "email", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="elements">
                            <span>Password</span><span id="forgot-pwd">Forgot Password?</span>
                            <!--<input type="password" class="form-control @func1()" placeholder="Enter your Password" id="password" name="Password" required>-->
                            @Html.TextBoxFor(model => model.Password, new {@class= "form-control "+func1(), placeholder = "Enter your Password", type = "password", required = "required" })
                            <img src="~/img/icons/eye.png" class="toggle-password" toggle="#Password">
                        </div>

                        <div id="msg">
                            <p style="display: @func()">The password you have entered is incorrect</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="elements">
                            <input type="checkbox" id="check" name="RememberMe">
                            <span>Remember Me</span>
                        </div>
                    </div>

                    <div id="submit-btn">
                        <button type="submit" class="btn btn-login">LOGIN</button>
                    </div>

                    <div class="text-signup">
                        <p>Don't have an account? <a href="SignUp">Sign Up</a> </p>
                    </div>

                }

            </div>

        </div>

    </div>


    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/Scripts/scripts.js"></script>


</body>

</html>